<!--experiment-1-->
<div class="experiment-1">
    <a id="test-button" class="btn btn-success" >First button</a>
</div>

<script>
    $('#test-button').on('click', function () {
        var sessionId = $.cookie('session_id');
        debugger;
        $.ajax({
            type: "POST",
            url: "http://" + app.SERVER_HOSTNAME + ":" + app.SERVER_PORT + "/finish?session_id=" + sessionId + "&name=" + 'name',
            data: {session_id: sessionId, name: 'name'},
            success: function (data) {
                var status = JSON.parse(data);
                console.log('Status:' + status.status);
            },
            error: function (data) {
                var status = JSON.parse(data);
                console.log('Status:' + status.status);
            }
        });
    })
</script>
