<div class="container">
  <div class="header">
    <h3 class="pull-right"><a href="/js/" class="text-warning">via JavaScript</a></h3>
    <h3 class="text-muted">AwesomeAB <span class="text-danger">(Ruby)</span></h3>
  </div>

  <div class="jumbotron">
    <h1>Press the button</h1>

    <p class="lead">In a such way, we test conversion for users who visited this page and saw this button.</p>

    <p>
      <%= ab_test 'ruby_button' %>
    </p>
  </div>

  <footer class="footer">
    <p>&copy; AwesomeAB 2015</p>
  </footer>

</div> <!-- /container -->